<!-- search.component.html -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">

      <div class="row form-group">
        <div class="col">
          <label for="taskId">Task ID:</label>
          <input type="text" id="taskId" class="form-control" [(ngModel)]="taskId" />
        </div>
        <div class="col">
          <button class="btn btn-primary" (click)="searchTaskById()">Search by ID</button>
        </div>
      </div>

      <div class="row form-group">
        <div class="col">
          <label for="taskName">Task Name:</label>
          <input type="text" id="taskName" class="form-control" [(ngModel)]="taskName" />
        </div>
        <div class="col">
          <button class="btn btn-primary" (click)="searchTasksByName()">Search by Name</button>
        </div>
      </div>

      <div class="row form-group">
        <div class="col">
          <label for="assignee">Assignee:</label>
          <input type="text" id="assignee" class="form-control" [(ngModel)]="assignee" />
        </div>
        <div class="col">
          <button class="btn btn-primary" (click)="searchFirst10TasksByAssignee()">Search First 10 by Assignee</button>
        </div>
      </div>

      <div *ngIf="errorMessage" class="alert alert-danger mt-3">
        {{ errorMessage }}
      </div>

      <!-- Display the found task or tasks -->
      <div *ngIf="foundTasks && foundTasks.length > 0" class="mt-3">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>ID</th>
              <th>Assignee</th>
              <th>Project</th>
              <th>Start Time</th>
              <th>arunodhaiVProperty<th>

              <!-- Add more columns as needed -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of foundTasks">
              <td>{{ task.name }}</td>
              <td>{{ task.id }}</td>
              <td>{{ task.assignee }}</td>
              <td>{{ task.project }}</td>
              <td>{{ task.startTime }}</td>
              <td>{{ task.arunodhaiVProperty }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
